<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>CreatePost</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Create Post</h1>
        
    <div> 
        
      <form action="/posts/create" method="POST">
      <input placeholder ="Title" name="title" type="text" required>
       <input placeholder="link" name="link" type="text">
        <input placeholder="description" name="description" type="text">
         <input placeholder="subgroup" name="subgroup" type="text">
      <button >Create</button>

    </form></div>

        <a role="button" href="/posts">Home</a>
      </div>
      <p>Implement this yourself. It comes from createPost.ejs</p>
    </main>
  </body>
</html>
